<center><h1>Editing Bill</h1></center>

<div class="form-container">
  <%= render 'form', bill: @bill %>
</div>

<center>
  <%= link_to 'Show', @bill %> |
  <%= link_to 'Back', bills_path %>
</center>
