/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

table, th, td {
  text-align: center;
  vertical-align: middle;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

th {
  background-color: #ddd;
  color: black;
}

td {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

.form-container {
  margin: 0 auto;
  width: 50%;
}
